<br>
<hr>

	<div class="row">
    <div class="medium-6 columns">
      <h3>联系我们</h3>
      <p>专注智能工业的教育平台</p>
      <ul class="menu">
        <li><a href="#">微信</a></li>
      </ul>
    </div>
    <div class="medium-6 columns">
      <label>姓名
        <input type="text" placeholder="Name">
      </label>
      <label>电邮
        <input type="text" placeholder="Email">
      </label>
      <label>
        信息
        <textarea placeholder="holla at a designerd"></textarea>
      </label>
      <input type="submit" class="button expanded" value="提交">
    </div>
  </div>

