<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <embed src="http://player.youku.com/player.php/sid/XMTAzMzA3ODI0/v.swf" quality="high" width="480" height="400" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash"></embed>
    <embed src="http://vali.cp31.ott.cibntv.net/6571904C65A377158CBEF3D13/0300080100599E3E488C8D456A8272D96D17A8-D63D-A182-60EF-954472A912BF.mp4?ccode=0502&duration=71&expire=18000&psid=31c482b99ef45f56c9214c771d9f5016&ups_client_netip=113.91.43.175&ups_ts=1506439434&ups_userid=&utid=ahCACYTFJQwCAYxtYuZEThhU&vid=XMjk4NzM5MDc2OA%3D%3D&vkey=Aad6f4c34d91496948280a9a597f89437" quality="high" width="480" height="400" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash"></embed>
  </body>
</html>
